.tab.active {
    border-radius: 90px; /* Change this to the radius you prefer */
    background-color: #FFDDDD; /* Adjust the background color if needed */
  }
  
  .tab {
    border-radius: 100px; /* Set the default tab shape */
    padding: 5px 10px; /* Adjust the padding of the tabs */
  }
  
  /* Optional: Adjust the hover effect */
  .tab:hover {
    background-color: #FFC1C1;
  }
  